<article>
  <header>
    <h1>@|title|</h1>
    <p class='date-and-tags'>@|date| :: @|tags|</p>
  </header>
  @|content|
  <footer>
    <!-- @twitter-share-button[full-uri] -->
    <!-- @google-plus-share-button[full-uri] -->
    <!-- @disqus-comments["shortname"] -->
    <!-- @older/newer-links[older-uri older-title newer-uri newer-title] -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'thedrautfamily';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </footer>
</article>
